.bookDetailComponent{
    width: 100%;
    display: flex;
    flex-direction: column;
    .borrow-button{
        position: fixed;
        top: 60px;
        z-index: 999;
        width: 100%;
    }

    .book-info{
        margin-top: 60px;
    }
    .book-img{

    }
}

